@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}
.background {
  background: #f6f9fc;
  padding: 50px 0;
}
.container {
  max-width: 90%;
  margin: auto;
}
.d_flex {
  display: flex;
  justify-content: space-between;
}
.c_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f_flex {
  display: flex;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.RText {
  text-align-last: right;
}
input,
button{
  border:none;
  outline: none;
  background-color: none;

}
.row{
  width: 50%;
}
.icon-circle{
  width: 50px;
  height: 50px;
  line-height: 5px;
  background-color: #f6f9fc;
  margin-left: 50px;
  text-align: center;
  border-radius: 50%;
  top: 50px;
}

.auth-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  gap:2rem;

}
.auth-input{
  max-width: 37rem;
  border-radius: 2px;
  padding: 10px;
  border:  #ccc solid;
}
.auth-nav{
  display: flex;
  justify-content: center;
  gap: 5px;
}
.auth-button {
  background-color: #3a73b9;
  border: .5px white solid;
  border-radius: 10px;
  width: 7rem;
  padding: 10px;
}
.auth-button:active{
  border: .7px #ccc solid;
  transition: .3s;
}

.auth-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  gap: 1rem;
}
.error{
  margin-top: 1px;
  color: red;
}

.authHead{
  margin-top: 2rem;
}
.auth-link{
  color: #1c4679;
  text-decoration: underline;
}
.nav-link{
color: white;
}
.boxShadow{
  box-shadow: rgb(43 52 69/10%) 0 4px 16px;
}
.images {
  width: 200px;
  height: 200px;
}

.container {
  display: flex;
  flex-direction: row;
}

.cart-container {
  display: flex;
  flex-direction: row;
}
.home-contain{
  display: flex;
  gap: 5rem;
}
